body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #dee2e6 !important;
}

.title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: inset 0 0 1px yellow, 0px 2px 10px #1d2124;
    margin-bottom: 30px;
    padding: 10px 0px 20px;
}

#txtInicio {
    font-size: 18px;
    margin: auto;
    display: inline-block;
    width: 50%;
    left: 25%;
    position: relative;
    text-align: justify;
}

#font12 {
    font-size: 12px;
}

.form {
    border-radius: 5px;
    padding: 13px;
    text-align: center;
    font-size: 20px;
}

.form2 span:nth-child(2) {
    display: block;
    border-radius: 2px;
}

.ajuda {
    display: block;
    background: black;
    color: wheat;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 5px;
}

.exPeso, .exAltura{
    display: none;
}

.show {
    display: block;
    position: relative;
    width: max-content;
    background: #00000073;
    color: white;
    padding: 10px;
    border-radius: 9px;
    transition: 0.5s;
    right: 114px;
}

.form2{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.btnCalcular, .btnLimpar{
    display: block;
    margin: auto;
    background: yellow;
    border-radius: 20px;
    padding: 14px;
    border: 0px;
    text-transform: uppercase;
    font-weight: bold;
    margin-block-start: 14px;
}

.tabela{
    top: 50px;
    position: relative;
}

.tblIMC {
    margin: auto;
    text-align: center;
}

.tblIMC td {
    position: relative;
    padding: 11px 40px;
    border: 1px solid yellow;
    background: black;
    color: white;
    text-align: center;
}

.tblIMC th {
    background: yellow;
    border: 1px solid black;
    padding: 12px;
    font-weight: bold;
}

.resultadoCalculo {
    display:none;
    animation: neon 1s alternate infinite ease-in-out;
    position: relative;
    background: blue;
    margin: auto;
    text-align: center;
    margin-block-start: 30px;
    color: white;
    padding: 15px;
    border: double;
}

.block{
    display: block !important;
}

.rodape{
    margin-bottom: 100px;
}
@keyframes neon {
    50% {
    opacity: 40%;
  }
}
