.perfil img{
    width: 40px;
    border-radius: 20px;
}

.perfil span{
    font-weight: bold;
    padding: 0px 20px;
}

.menu{
    height: 90px;
    background: black;
    font-size: 20px;
    color: white;
}

.menu ul{
    margin: 0;
    padding: 25px;
    list-style: none;
}

.menu li {
    float: left;
    position: relative;
    padding: 0px 40px;
}

.nmMenu{
    width: 100%;
    cursor: pointer;
}

.nmSub{
    position: absolute;
    width: 150px;
    display: none;
    cursor: pointer;
}

.nmSub span {
    background: black;
    display: block;
    padding: 5px 20px;
    border: 1px solid grey;
}

.nmSub span:hover{
    background: lightblue;
}

.nmSub a {
    color: white;
}

.nmSub a:hover {
    color: grey;
    text-decoration: none;
}
.show{
    display: block;
}


@media (max-width:767px) {

.menu {
    height: -webkit-fill-available;
}

.menu li {
    padding: 11px 60px !important;
    right: 56px;
}

.nmSub {
    position: relative;
}
}